SHOPIFY_DOMAIN=big-blue-staging.myshopify.com
SHOPIFY_ACCESS_TOKEN=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
POSIBOLT_SERVER=bigblue.posibolt.com
POSIBOLT_CLIENT_ID=492337
POSIBOLT_CLIENT_SECRET=8236491
POSIBOLT_USER=WBWR
POSIBOLT_PASSWORD=SHAUN@WBWR
POSIBOLT_TERMINAL='ONLINE (SHOPIFY)'
POSIBOLT_GRANT_TYPE=password
AUTHENTICATION_TOKEN=PXV7hhAcHGhS7ulyqd8q75SMoCMxT19wct5vsfgdWJ7K40QgzFO9RsBCiFPh5kEi
